# DotEnv configuration
.env

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data and artifacts from source control by default
data/*
!/data/processed_features.csv
artifacts/

# Mac OS-specific storage files
.DS_Store

__pycache__
.pytest_cache/

.terraform/
.terraform.lock.hcl
