[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "*"
wandb = "*"
prefect = "*"

[dev-packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
kaggle = "*"
missingno = "*"
xgboost = "*"
catboost = "*"
pylint = "*"
greenlet = "*"

[requires]
python_version = "3.10"
